<div id="top-page">

    <div id="navbar-pic-lion"></div>
    <ul id="nav-list">
       <a href=""><li>Contact</li></a>
        <a href=""><li id="github-logo">GitHub</li></a>
        
    </ul>
   

</div> 
<div id="navbar-pic-chain"></div>