
<div id="top-page">
    <div id="navbar-pic-lion"></div>
    <ul id="nav-list">
        <a href="/#bottom-page"><li><span id="contact-name">Contact</span> <img src="/images/mail-nav.svg" alt="" id="mail-logo"></li></a>
        <a href="https://github.com/Dev-Myles"><li><span id="github-name">GitHub</span> <img src="/images/github-logo.svg" alt="" id="github-logo"></li></a>   </ul>
</div> 
