<div id="profile-body">
    <h2 id="tech-banner-header" >About Me</h2> 
    <p id="profile-p">
        Hey, I'm Myles. I'm a self-taught web developer from Iowa who enjoys creating web projects. I am looking for full-time employment to grow my skills!
    </p>
</div>