footer{
    position: absolute;
    background-color: inherit;
    height:fit-content;
    bottom: 0;
   width: 100%;
    margin-bottom: -5%;
    display: flex;
    justify-content: center;
}


#footer-image{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
   margin-bottom: 5vh;  
   font-size: 1.3vw;
}

#footer-git-logo{
    height: 75px;
    width: 75px;
}

@media only screen and (max-width: 1000px){
    #footer-git-logo{
        height: 50px;
        width: 50px;
    }

    #footer-image{
  
       font-size: 4.3vw;
    }
}