
:root{
    --font-color:  hsla(0, 0%, 24%, 1);
    --accent-color: hsla(153, 63%, 48%, 1);
  
}

body{
    scroll-behavior: smooth;
    overflow-x: hidden;

    background-color: rgb(240, 240, 240);
    position: relative;
    padding-bottom: 15vh;
    font-family: 'IBMPlexSansArabic-Light';
}

@font-face {
    font-family: 'Jost-Medium';
    src: url('/fonts/Jost-Medium.ttf');
}

   @font-face {
       font-family: 'IBMPlexSansArabic-Light';
       src: url('/fonts/IBMPlexSansArabic-Light.ttf');
   }

   @font-face {
    font-family: 'IBMPlexSansArabic-SemiBold';
    src: url('/fonts/IBMPlexSansArabic-SemiBold.ttf');
}



   

a{
    text-decoration: none;
    color: black;
    transition: ease-in-out .2s;
}



h1, h2, legend{
    font-family: 'Jost-Medium';
    font-weight: bolder;
    color: var(--font-color);
}

p, li, a, input, .input-name, #email-message{
    font-family: 'IBMPlexSansArabic-Light';
    color: var(--font-color);
    font-weight: bold;
}

ul{
    padding: 0;
   
}

li{
    text-decoration: none;
    list-style: none;
}

button{
    border: none;
}

#bold-word{
    font-family: 'IBMPlexSansArabic-SemiBold';
    font-weight: bold;
    text-shadow: 5px 1px 10px silver;
    color: var(--accent-color);
}


#tech-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 70vw;
    margin: 0 auto;
    padding: 1vw;
    padding-left: 1.8vw;
    margin-bottom: 1vw;
    margin-top: 6vh;

}

#tech-banner-layout{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#tech-banner-header{
    font-size: 4.4vw;
    margin-bottom: 0;

}

#tech-banner-pic{
  
    background-size: contain;
  
    border-left: none;
}

#tech-banner-p-body{
    height: min-content;
    width: 70%;
    margin-right: 3vw;
}


#tech-banner-pic{
    width: 60vw;
    height: 60vh;
    background-image: url('/images/tech-banner.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#tech-banner-p{
    font-size: 2.4vw;
    font-weight: bolder;
    text-align: center;
    margin: 0;
}

#tech-banner-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.15vw;
}

#project-banner{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 8vw;
}

.project-titles{
   
    font-size: 2vw;
    font-family: 'Jost-Medium';
}

#project1, #project2{
    padding: 1.3vw;
    background-color: white; 
   border-radius: 15px;
   display: flex;
   justify-content: center;
   flex-direction: column;
}

video{
   height: 400px;
    flex-grow: 1; 
}

#videos{
    margin: 0 auto;
}

#project1-p, #project2-p{
    width: 40vw;
    font-size: 1.2vw;
}

#bottom-page{
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
}


#live-icon{
    width: 80px;
    height: 80px;
    margin-right: 2vw;
}

#project-links a:hover{
    transform: scale(1.1);
}

#project-links a div{
    margin-bottom: 0;
}

#project-links{
display: flex;
justify-content: center;
align-items: center;
}

@media only screen and (max-width: 1000px) {
  
    #tech-banner-pic {
        width: 85vw;
        height: 85vw;
       
        background-image: url('/images/portfolio-programming-logos.svg');
    }

    #tech-banner-header{
        font-size: 8vw;
    }

    #tech-banner-p{
        font-size: 5.9vw;
        text-align: center;
        font-weight: 600;
    }

    #project-banner{
        flex-direction: column;
    }
    
    #project1, #project2{
        padding: 2.3vw;
        width: min-content;
        margin: 0 auto;
         margin-top: 3vh;
    }
    
    #project1-p, #project2-p{
        width: 87vw;
    }
    
    #bottom-page{
        flex-direction: column;
    }

    .project-titles{
   
        font-size: 8vw;
      
    }

    #project1-p, #project2-p{
        width: 92vw;
        font-size: 5.2vw;
    }

    video{
        height: 180px;
         flex-grow: 1; 
     }
     #videos{
        margin-top: 3vh;
    }

}