<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') %> 
    
</head>
<body>
    <%- include('../partials/navbar') %> 
    <h1>Hey, this is Myles.</h1>
   <div id="terminal">
       <div id="terminal-bar">
           <div id="terminal-logo">
            <span id="terminal-name">Command Prompt</span>   
           </div>
           
         <span id="terminal-x">X</span>
       </div>
       <div id="terminal-body">
           <span id="terminal-start-line">C:\web_developers\Dev_Myles><span id="blinking-line">_</span></span>
        </div>
   </div> 


   <div id="tech-banner">
       <div id="tech-banner-p-body">
            <p id="tech-banner-p">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit delectus porro, eveniet non atque sunt velit explicabo nostrum, iste tempora praesentium quasi, pariatur molestias quisquam repellat tenetur ipsam laboriosam doloribus.</p>
            <ul id="tech-banner-list">
                <ul>
                    <li>HTML</li>
                    <li>InkScape</li>
                    <li>JavaScript</li>
                </ul>
                <ul>
                    <li>Node JS</li>
                    <li>Express JS</li>
                    <li>MongoDB</li>
                </ul>
                <ul>
                    <li>Heroku</li>
                    <li>Git</li>
                    <li>CSS</li>
                </ul>
            </ul>
        </div>
       <div id="tech-banner-pic">
            <img src="/images/portfolio-programming-logos.svg" alt="tech-banner-picture" >
       </div>
   </div>

   <div id="project-banner">
       <div id="project1">
           <div id="project1-pic"></div>
           <hr>
           <p id="project1-p">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore obcaecati vel, repellendus a adipisci ipsum! Iste quasi, architecto, voluptate aliquam aut deleniti quo pariatur unde beatae natus alias maiores similique!</p>
       </div>
       <div id="project2">
            <div id="project2-pic"></div>
            <hr>
            <p  id="project2-p">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore obcaecati vel, repellendus a adipisci ipsum! Iste quasi, architecto, voluptate aliquam aut deleniti quo pariatur unde beatae natus alias maiores similique!</p>
       </div>
   </div>
    
</body>
</html>